include ../mixin/_helpers

doctype html
block var

html(lang="ru")
  head
    meta(charset="utf-8")
    title dev
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='css/common.css')

  body
    .page
      .page__content
        .b-test test
          h1.__ttitle h2
          include ./_nav.pug

        block content


      footer.footer-page
        p test include



  //- block form

  script(src='js/vendors/jquery-3.4.1.min.js')
  script(src='js/main.js')
  //- script(src='js/hot-bundle.js')
