nav.menu.main-menu.main-menu--desktop
  -
    var menudata = [
    {name : 'Обо мне'},
    {name : 'Амулеты'},
    {name : 'Видео'},
    {name : 'Фото'},
    {name : 'Афиша'},
    {name : 'Практикум'},
    {name : 'Отзывы'},
    {name : 'Контакты'}
    ]
  +menu()

